<footer class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="widget-title">
                <span>O NAMA</span>
            </h3>
            <p class="text-widget">
                Lawyers‘ Office Olodar Prebanic &amp; Arela Jusufbasic-Goloman is a successor of the Lawyers’ Office Tkalcic-Dulic, Prebanic &amp; Jusufbasic-Goloman, which was founded in 1994 by lawyer Bojana Tkalcic-Dulic (the Office).
            </p>
        </div>
        <div class="col-sm contact-1">
            <h3 class="widget-title">
                <span>Kontakt</span>
            </h3>
            <div class="text-widget">
                <ul class="contact">
                    <li class="nav-footer"><span class="fa fa-map-marker se-3"></span> Marsala Tita 38/II<br>71000 Sarajevo<br>Bosnia and Herzegovina
                    </li>
                    <li class="nav-footer"><span class="fa fa-phone se-3"></span> +387 33 263 800</li>
                    <li class="nav-footer"><span class="fa fa-print se-3"></span> +387 33 263 801</li>
                    <li class="nav-footer"><span class="fa fa-envelope-o se-3"></span> <a class="mail-link" href="mailto:info@pjg.ba">info@pjg.ba</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <h3 class="widget-title">
                <span>RADNO VRIJEME</span>
            </h3>
            <div class="text-widget">
                <p><span class="fa fa-clock-o se-3"></span> Monday-Friday: 09:00am - 05:00pm </p>
                <p><span class="fa fa-clock-o se-3"></span> Saturday: Closed</p>
                <p><span class="fa fa-clock-o se-3"></span> Sunday: Closed</p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="col span_1_of_2">
        <ul class="social-links">
            <li>
                <!-- facebook.com home page -->
                <a href="https://facebook.com/" target="_blank"><span class="fa fa-facebook"></span></a>
            </li>
            <li>
                <!-- instagram.com home page -->
                <a href="https://www.instagram.com/" target="_blank"><span class="fa fa-instagram"></span></a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <!-- Copyrights -->
        <p class="copy-right">
            © Copyright 2021. VACLegal Designed and Developed by&nbsp;
            <span class="footer-copy"><a
            href="https://github.com/Senad82"  
            target="_blank"
            rel="noopener">InTheHouse</a></span>
        </p>
    </div>
</footer>