.about-section {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
}

.contract-image {
    width: 80%;
    border-radius: 20px;
    margin-right: 40px;
}

.about-heading {
    color: #000;
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-para {
    color: #000;
    margin-bottom: 30px;
    line-height: 1.5;
}

.about-box {
    margin-top: 100px;
}

.about-box:first-child {
    text-align: left;
    padding: 0 5%;
}

.about-box:last-child {
    text-align: right;
}