<section class="about-section js--about-section" id="about-us">
    <div class="row">
        <div class="col span_1_of_2 about-box js--about-box">
            <h2 class="about-heading">
                Advokatska firma fokusirana na Vaše zahtjeve!
            </h2>
            <p class="about-para">
                Zajedničku advokatsku kancelariju su osnovali Edina Rešidović i Džemil Sabrihafizović 1991. godine. Oboje se i danas aktivno bave advokaturom. Priznati su stručnjaci u specifičnim oblastima prava na lokalnom i međunarodnom nivou. Od 2007. godine sastav
                kancelarije se počeo širiti novim članovima koji su se specijalizirali za različite oblasti i proširili portfolio međunarodnih i domaćih klijenata.
            </p>
            <p class="about-para">
                Rad u Zajedničkoj advokatskoj kancelariji je timski i ima za cilj ostvarenje najboljih interesa klijenata. Kancelarija pruža klijentima usluge na teritoriji Bosne i Hercegovine u oblasti privrednog, upravnog, građanskog, radnog i krivičnog prava, u postupcima
                pred lokalnim sudovima i drugim nadležnim institucijama.
            </p>
        </div>
        <div class="col span_1_of_2 about-box js--about-box">
            <img class="contract-image" src="../../assets/images/contract-img.jpg" alt="VACLegal women sign in contract - Photo by Pavel Danilyuk from Pexels" />
        </div>
    </div>
</section>