<nav class="navbar navbar-expand-lg nav-custom-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo-small" src="assets/images/vacLegal_logo_web.jpg" alt="VacLegal Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-1"></span>
      </button>
        <div class="collapse navbar-collapse main-nav" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="Home"><span class="fa fa-home se-3"></span>Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="About"><span class="fa fa-user-circle se-3"></span>O Nama</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Team"><span class="fa fa-users se-3"></span>Tim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fa fa-newspaper-o se-3"></span>Aktuelnosti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fa fa-map-marker se-3"></span>Lokacije</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fa fa-phone-square se-3"></span>Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>