<div class="container-fluid main-header">
    <header id="home" class="js--home">
        <div class="col-xs-12 header-textbox clearfix">
            <h2 class="home-1">POUZDAN I POSVEĆEN PARTNER U PRUŽANJU PRAVNE POMOĆI !</h2>
            <p class="col-xs-12 header-para">Nastojimo da usluga koju pružamo prevaziđe čisto pravnu analizu i da pronalaženjem komercijalnih rješenja zadovoljimo sve potrebe naših klijenata. Savršenim omjerom cijene i kvaliteta uspijevamo odgovoriti kompleksnim zahtjevima današnjih
                tržišnih uslova.
            </p>
        </div>
    </header>
</div>