<section class="container-fluid team-section">
    <div class="row team-heading">
        <h2 class="section-heading">Naš Tim</h2>
        <h3 class="section-sub-heading">Osobe kojima će te vjerovati.</h3>
    </div>
    <div class="row">
        <div class="col span_1_of_4 team-box first-box">
            <div class="team-img-wraper">
                <img src="../../assets/images/client-1.1.jpg" alt="Fata Mujic" />
            </div>
            <div class="team-bio">
                <h4 class="team-heading">Edina Rešidović</h4>
                <p class="team-para">
                    Edina Rešidović je priznat stručnjak iz oblasti krivičnog prava, a posebno u postupcima koji se odnose na primjenu međunarodnog ratnog i humanitarnog prava. Kao glavni branilac, bila je angažovana u više različitih predmeta pred skupovima u organizaciji
                    UNDP-a, OSCE i OKO. Prije osnivanja Advokatske kancelarije, radila je kao Zamjenik Okružnog javnog tužioca u Sarajevu. Bila je Sekretar za zakonodavstvo u Vladi Republike Bosne i Hercegovine.
                </p>
            </div>
        </div>
        <div class="col span_1_of_4 team-box">
            <div class="team-img-wraper">
                <img src="../../assets/images/client-2.2.jpg" alt="Fata Mujic" />
            </div>
            <div class="team-bio">
                <h4 class="team-heading">Dino Sabrihafizović</h4>
                <p class="team-para">
                    Dino Sabrihafizović radi u Zajedničkoj advokatskoj kancelariji od 2005. godine, a od 2007. godine radi kao advokat. Njegov primarni angažman su oblasti transakcija i privrede, uključujući postupke spajanja i pripajanja društava, te oblast zaštite ličnih
                    podataka. Prije dolaska u Zajedničku kancelariju, radio je u Ministarstvu unutrašnjih poslova i kao asistent u timu odbrane pred Međunarodnim krivičnim sudom za bivšu Jugoslaviju u Hagu. G-din. Sabrihafizović je diplomirao na Pravnom
                    fakultetu u Sarajevu 2002. godine. Član je Advokatske komore Federacije BiH. Član je Nadzornog odbora Investicijskog fonda „prevent INVEST“ d.d. Sarajevo.
                </p>
            </div>
        </div>
        <div class="col span_1_of_4 team-box">
            <div class="team-img-wraper">
                <img src="../../assets/images/client-3.jpg" alt="Fata Mujic" />
            </div>
            <div class="team-bio">
                <h4 class="team-heading">Džemil Sabrihafizović</h4>
                <p class="team-para">
                    „Džemil Sabrihafizović specijaliziran je za oblast poslovnog i upravnog prava, te zastupa klijente pred lokalnim sudovima u kompleksnim postupcima. Advokat Sabrihafizović ima značajno iskustvo u pravnom savjetovanju i zastupanju klijenata u složenim transakcijama
                    kao što su postupci privatizacije, zajedničkog ulaganja, spajanja i preuzimanja društava, direktnog ulaganja, te postupci u vezi sa nelojalnom konkurencijom i postupci koji se odnose na javne nabavke. G-din Sabrihafizović je u više
                    navrata bio angažovan kao konsultant na projektima izrade zakonskih i podzakonskih akata. Bio je član Upravnog odbora BH Telecoma. Prije osnivanja Advokatske kancelarije, 20 godina je radio kao visoki državni službenik, na čelu Zavoda
                    za javnu upravu u Bosni i Hercegovini. U periodu od 1989. do 1991. bio je savjetnik u Vladi Republike Bosne i Hercegovine.“
                </p>
            </div>
        </div>
        <div class="col span_1_of_4 team-box">
            <div class="team-img-wraper">
                <img src="../../assets/images/female-lawyer.jpg" alt="Fata Mujic" />
            </div>
            <div class="team-bio">
                <h4 class="team-heading">Jesenka Rešidović</h4>
                <p class="team-para">
                    Jesenka Rešidović, LL.M., rođena u Sarajevu, gdje trenutno živi i radi kao advokat u okviru Zajedničke advokatske kancelarije Rešidović-Sabrihafizović. Završila je Pravni fakultet Univerziteta u Sarajevu i magistrirala iz oblasti međunarodnog i evropskog
                    prava na Pravnom fakultetu Univerziteta u Amsterdamu. Od 2004. do 2009. godine bila je angažovana u nekoliko predmeta pred Međunarodnim krivičnim tribunalom za bivšu Jugoslaviju (MKSJ) u Hagu, najprije kao volonter, a zatim i kao pravni
                    asistent i case-manager za timove odbrane u nekoliko predmeta ratnih zločina i predmeta nepoštivanja suda vođenih pred MKSJ.
                </p>
            </div>
        </div>
    </div>
</section>